[Unit]
Description=ShineMonitor Reporter MQTT Client/Daemon


[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /home/user/shinemonitor_reporter_mqtt/publish_data.py
StandardOutput=null
StandardError=journal
Restart=always
RestartSec=3
TimeoutSec=0

[Install]
WantedBy=multi-user.target
